fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.7.0
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
alembic==1.14.0
redis==5.2.1
httpx==0.28.1
sentry-sdk[fastapi]==2.19.2
geoalchemy2==0.16.0
shapely==2.0.6
openai==1.57.0
telethon==1.38.1
pymorphy3==2.0.4
pymorphy3-dicts-uk==2.4.1.1.1663094765
pyahocorasick==2.1.0
rapidfuzz==3.10.1
